.pad-form {
  padding: 16px;
}

.pad-form-radios {
  padding: 16px;
}
.pad-form-radios-active {
  border: 1px solid #c6e1fd;
  transition: all 0.2s linear;
}

.pad-form-tb {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pad-form-lr {
  padding-left: 16px;
  padding-right: 16px;
}

.pad-form-lr-default {
  padding-left: 0px;
  padding-right: 0px;
}

.pad-border {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.pad-border-item {
  padding-top: 6px;
  padding-bottom: 6px;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
}
.pad-border-fit {
  /* padding-top: 2px;
    padding-bottom: 2px; */
  height: 37.72px;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
}

.pad-option {
  padding-top: 22px;
  padding-bottom: 22px;
}

.pad-chart {
  padding-top: 20px;
  padding-bottom: 0px;
}
.pad-border-bottom {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* border */
.bor-bottom {
  border-bottom: 1px solid #d3d6d378; 
}

.bor_bottom_color {
  border-bottom: 1px solid rgba(162, 174, 212, 0.395);
}

.bor-top-end {
  border-top: 1px solid #2e19b02e;
}

.bor-top {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.pad-b-title{
  padding-bottom: 12px;
}
.pad-option-summer {
  padding-top: 12px;
  padding-bottom: 12px;
}

.pad-b-b{
  padding-bottom: 16px;
}
.pad-b-t{
  padding-top: 16px;
}
.pad-r{
  padding-right: 16px;
}
.pad-l{
  padding-left: 16px;
}

.mar-t{
  margin-top: 16px;
}
.mar-b{
  margin-bottom: 16px;
}
.mar-r{
  margin-right: 16px;
}
.mar-l{
  margin-left: 16px;
}


.pad-option-hourly {
  padding-top: 12px;
  padding-bottom: 12px;
}
.pad-option-lr-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.pad-option-tb-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.border-radios {
  border-radius: 10px;
}
.border-radios-10 {
  border-radius: 5px;
}
.pad_4 {
  padding: 4px;
}

.bor-form {
  border-radius: 18px;
  border: 1.5px solid #cccc;
}

.bor-form-10 {
  border-radius: 10px;
  border: 1.5px solid #cccc;
}

.border-active-bottom {
  border-bottom: 1.5px solid #ffffff;
}

.border-active-title {
  border-bottom: 1.5px solid #ffffff92;
}

.card {
  /* margin-bottom: 24px; */
  box-shadow: 0 0.25rem 0.75rem rgba(18, 38, 63, 0.08);
  border: none !important;
}
