:root {
    --bs-body-font-family: Arial, sans-serif;
    --bs-body-font-size: 16px;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-text-align: left;
    --bs-body-bg: #F4F5F8;
}